{% extends 'base.html.twig' %}

{% block body %}

<h1>
    {{subject.title}}
    <br>
    <small>{{subject.subtitle}}</small>
</h1>


<div class="panel panel-default">

  <div class="panel-heading">{{subject.title}}</div>


  {% for message in subject.messages %}

    {% if loop.first %}
        <div class="panel-body">
            <p>
                {{message.content}}
            </p>
        </div>
        <div class="panel-heading">Responses</div>
        <ul class="list-group">
    {% else %}
        <li class="list-group-item">{{message.content}}</li>
    {% endif %}

    </ul>
  {% endfor %}
</div>
<hr>
{{ form_start(form, {
        'method' : 'POST',
        'action': path('reply', {'subject_id': subject.id})
}) }}

<div class="form-group">
    {{form_label(form.content, 'Your answer')}}

    {{form_widget(form.content, {
        'attr':{
            'class':'form-control',
            'rows':'10'
        }
    })}}

    <br>
    <div class="text-center col-md-12">
        {{form_widget(form.save, {
            'attr':{
                'class':'btn btn-success'
            },
            'label':'Reply'
        })}}
    </div>
</div>

{{ form_end(form) }}

{% endblock %}
